<nav ng-controller="mangeUser" ng-hide="isActive('/login')" class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="index.html">FitBody</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#!home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!calculators">Calculators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!recepies">Recepies</a>
        </li>
        <li class="nav-item">
          <a ng-hide="!logIn" class="nav-link" href="#!mealplaner">Food Diary</a>
        </li>

        <li class="nav-item">
          <a ng-hide="logIn" class="nav-link" data-toggle="modal" data-target="#loginModal">LogIn</a>
        </li>
        <li class="nav-item dropdown  ">

          <a ng-hide="!logIn" ng-hide="!logIn" class="nav-link dropdown-toggle " data-toggle="dropdown">
            <i class="far fa-user fa-lg"></i>
          </a>
          <div class="dropdown-menu bg-secondary">
            <a class="dropdown-item bg-success text-white ">Sing in as:{{userName}}</a>
            <a class="dropdown-item bg-danger text-white " ng-click="logout()">Logout <i
                class="fas fa-sign-out-alt"></i> </a>

          </div>
        </li>

      </ul>
    </div>
  </div></nav>


        <!--MODAL LOGIN FORM-->


  <div class="modal" id="loginModal" ng-controller="logIn">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <form name="loginFrm">

            <div class="form-group ">
              <label for="email">Email Address:</label>
              <input type="email" name="email" placeholder="Enter email address" ng-model="user.email" class="form-control"
                required>

              <p class=" alert alert-danger" ng-show="loginFrm.email.$invalid && loginFrm.email.$touched">Enter valid
                mail</p>
            </div>
            <div class="form-group  ">
              <label for="password">Password:</label>
              <input type="password" name="passord" placeholder="Enter password" ng-model="user.password" ng-minlength=6
                class="form-control" required>
              <p class="alert alert-danger" ng-show="loginFrm.passord.$error.minlength && loginFrm.passord.$touched">
                Password with minimum 6 chartesr</p>

            </div>
            <p>
              <p class="alert alert-danger" ng-show="errMsg">{{errMessage}}</p>
            </p>
            <p>Don't have account?<a href="#!singup" ng-click="singUpModal()"> Sing up now.</a></p>

          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" ng-disabled="loginFrm.$invalid" ng-click="signIn()">Login</button>
        </div>
      </div>
    </div>
  </div>

  
